body {
  font-family: Arial;
  background-color: #141D2F;
  color: white;
}

* {
  box-sizing: border-box;
}

#formInput {
    display: flex;
    padding-right:730px;
   
}
#search-user {
    width: 620px;
    margin: 0 auto;
    height: 69px;
    margin-bottom: 2rem;
    border-radius: 10px;
    background: #1E2A47;
    border: none;
}

form.example input[type=text] {
  display: flex; 
  padding-left: 80px;
  font-size: 18px;
  border: 1px solid grey;
  
}

/*form.example input[type=text] {
    display: flex;
   
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 730px;
  background: #1E2A47;
  margin: 0 auto;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
} */

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* Latout*/


.top-section {
   display: flex;
   justify-content: space-between;
   max-width: 730px;
   margin: 0 auto;
   padding-top: 10px;
}

#dark-light-mode {
    margin-top: 25px;
}

.container-two {
    background-color: #1E2A47;
    height: 100vh;
    max-width: 730px;
    margin: 0 auto;
}

.button {
    height: 50px;
    width: 106px;
    left: 969px;
    top: 227.5px;
    border-radius: 0px;
    border: none;
    border-radius: 10%;
    background: #0079FF;

}



